# IntelliJ IDEA
.idea/
*.iml

# Archivos compilados
out/
target/
build/
*.class
*.log

# Configuración local (credenciales)
src/Config/db.properties

# Otros IDEs / editores
.vscode/
.classpath
.project
.settings/

# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

lib/
